.selection__buttons {
    display: flex;
    justify-items: center;
}

#_grass {
    justify-content: start;
    max-width: 34%;
    max-height: fit-content;
    background-color: white;
    border: none;
}

#_fire {
    justify-content: center;
    max-width: 34%;
    max-height: fit-content;
    background-color: white;
    border: none;
}

#_water {
    justify-content: end;
    max-width: 34%;
    max-height: fit-content;
    background-color: white;
    border: none;
}

img {
    max-width: 75%;
}

#_grass:hover {
    opacity: 50%;
}

#_fire:hover {
    opacity: 50%;
}

#_water:hover {
    opacity: 50%;
}