.group__buttons {
  display: flex;
  justify-items: center;
}

#Grass {
  justify-content: start;
  max-width: 34%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Fire {
  justify-content: center;
  max-width: 34%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Water {
  justify-content: end;
  max-width: 34%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

img {
  max-width: 75%;
}

#Grass:hover {
  opacity: 50%;
}

#Fire:hover {
  opacity: 50%;
}

#Water:hover {
  opacity: 50%;
}