.group__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
}

@media screen and (min-width: 200px) {
  .group__buttons {
    display: grid;
    grid-template-columns: repeat(3fr);
    justify-content: center;
  }
}
#Grass {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Fire {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Water {
  justify-content: end;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Electric {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Rock {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Flying {
  justify-content: end;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Bug {
  justify-content: start;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Psychic {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Normal {
  justify-content: end;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Ghost {
  justify-content: start;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Ground {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Ice {
  justify-content: end;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Dragon {
  justify-content: start;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Dark {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Fairy {
  justify-content: end;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Fighting {
  justify-content: start;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Steel {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#Poison {
  justify-content: center;
  max-height: fit-content;
  background-color: white;
  border: none;
}

img {
  max-width: 75%;
}

#Grass:hover {
  opacity: 50%;
}

#Fire:hover {
  opacity: 50%;
}

#Water:hover {
  opacity: 50%;
}

#Electric:hover {
  opacity: 50%;
}

#Rock:hover {
  opacity: 50%;
}

#Flying:hover {
  opacity: 50%;
}

#Bug:hover {
  opacity: 50%;
}

#Psychic:hover {
  opacity: 50%;
}

#Normal:hover {
  opacity: 50%;
}

#Ghost:hover {
  opacity: 50%;
}

#Ice:hover {
  opacity: 50%;
}

#Dragon:hover {
  opacity: 50%;
}

#Dark:hover {
  opacity: 50%;
}

#Fairy:hover {
  opacity: 50%;
}

#Fighting:hover {
  opacity: 50%;
}

#Steel:hover {
  opacity: 50%;
}

#Ground:hover {
  opacity: 50%;
}

#Poison:hover {
  opacity: 50%;
}