#_grass {
  justify-content: start;
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#_fire {
  justify-content: center;
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#_water {
  justify-content: end;
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

img {
  max-width: 75%;
}

#_grass:hover {
  opacity: 50%;
}

#_fire:hover {
  opacity: 50%;
}

#_water:hover {
  opacity: 50%;
}