@font-face {
  src: url(fonts/PokemonPixels1-jYmj.ttf);
  font-family: pokemonA;
}
@font-face {
  src: url(fonts/PokemonPixels2-zljG.ttf);
  font-family: pokemonB;
}
@font-face {
  src: url(fonts/PokemonPixels2-59jx.ttf);
  font-family: pokemonC;
}
footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  padding-left: 0%;
  font-family: pokemonA;
  color: royalblue;
  font-size: larger;
  font-weight: normal;
}