#_grass {
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#_fire {
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

#_water {
  max-width: 33%;
  max-height: fit-content;
  background-color: white;
  border: none;
}

img {
  max-width: 75%;
}